* {
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(to left bottom, lightgreen, lightblue);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.block:not(:last-child) {
  margin-bottom: 1.5rem;
}

.container {
    text-align: center;
}
