* {
  margin: 0;
}
body {
  background: linear-gradient(to left bottom, lightgreen, lightblue);
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

#heading {
  margin-top: 5px;
  padding: 20px;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-bottom: 50px;
  background-color: rgba(32, 26, 26, 0.1);
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  width: auto;
}

.form {
  width: 80%;
  background-color: rgba(212, 117, 117, 0.1);
  display: flex;
  flex-direction: row;
  margin: 30px;
  background-color: rgba(32, 26, 26, 0.1);
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}
.field {
  padding: 20px;
}

.container {
  margin-top: 30px;
  text-align: center;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 40px;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.5);
}

#start-button {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 30px;
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 10%;
}
#true-button {
  margin: 50px;
  padding: 30px;
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 10%;
}
#false-button {
  margin: 50px;
  padding: 30px;
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 10%;
}
#new-question {
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
.quiz-score {
  float: left;
  font-size: 20px;
}
.quiz-question {
  float: right;
  font-size: 20px;
}
